@model BVS.ViewModels.Patients.PatientChartViewModel

@{
    ViewBag.Title = "Patient Chart";

}

<ol class="breadcrumb">
    <li>@Html.ActionLink( "Home", "Index", "Home" )</li>
    <li>@Html.ActionLink( "Patient List", "Index", "Patient" )</li>
    <li>@Html.ActionLink( "Patient", "Details", new { id = Model.Patient.ID } )</li>
    <li class="active">Measurement Chart</li>
</ol>
<h1>Patient Measurements Chart</h1>
<h2 class="entitysubtitle">@Model.Patient.FirstName @Model.Patient.LastName</h2>


@using ( Html.BeginForm() )
{
    <div class="panel panel-default r3-shadow">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    @Html.HiddenFor( m => m.Patient.ID )
                    @Html.LabelFor( m => m.StartDate )<br />
                    <input type="text" id="@Html.IdFor(m => m.StartDate)" value="@Model.StartDate.Value.ToString("d")">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @Html.LabelFor( m => m.EndDate )<br />
                    <input type="text" id="@Html.IdFor(m => m.EndDate)" value="@Model.EndDate.Value.ToString("d")">
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="button" class="btn btn-primary" id="buttonSubmit" value="Submit">
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12">
        <div style="overflow-x: auto">
            <div id="chart_container">
                <canvas id="patient_chart"></canvas>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#buttonSubmit").on("click", function () {
        var startDate = $("#@Html.IdFor( m => m.StartDate )").val()
        var endDate = $("#@Html.IdFor( m => m.EndDate )").val()

        window.location.href = encodeURI("@Url.Action( "MeasurementChart", new { id = Model.Patient.ID } )" + "?startDate=" + startDate + "&endDate=" + endDate);
    });

    $(function () {
        $("#@Html.IdFor( m => m.StartDate )").datepicker();
    });

    $(function () {
        $("#@Html.IdFor( m => m.EndDate )").datepicker();
    });

    var ctx = $("#patient_chart");
    var barChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                label: 'Bladder Volume @(Model.StartDate.Value.ToShortDateString()) - @Model.EndDate.Value.ToShortDateString()',
                data: @Html.Raw( Json.Encode( Model.PatientMeasurements.Select( x => new { x = x.MeasurementOn, y = x.CalculatedVolume } ).OrderBy( x => x.x ) ) ),
                borderColor: "#c45850"
                }]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        //unit: 'minute',
                        displayFormats: {
                            'minute': 'h:mm a',
                            'hour': 'MMM D hA',
                            'day' : 'MMM D'
                        },
                        //stepSize: 60,
                        min:'@(Model.StartDate)'
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>