@model BVS.ViewModels.Patients.PatientPasswordViewModel
@{
    ViewBag.Title = "Reset Patient Password";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink( "Home", "Index", "Home" )</li>
    <li>@Html.ActionLink( "Patient List", "Index", "Patient" )</li>
    <li>@Html.ActionLink( "Patient", "Details", "Patient", new { id = @Model.Patient.ID }, null )</li>
    <li class="active">Reset Password</li>
</ol>

<h2>@ViewBag.Title</h2>

@using ( Html.BeginForm() )
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary( "", new { @class = "text-danger" } )
    <div class="panel panel-default r3-shadow">
        <div class="panel-heading">
            <div class="text-right">
                <a class="btn btn-default" href="@Url.Action( "Details", new { id = Model.Patient.ID } )">Cancel</a>
                <input type="submit" class="btn btn-primary" id="submit" value="Submit">
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor( m => m.Patient.EmailAddress, new { @class = "control-label" } )<br />
                        @Html.DisplayFor( m => m.Patient.EmailAddress, new { @class = "form-control" } )
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor( m => m.NewPassword, new { @class = "control-label" } )
                        @Html.PasswordFor( m => m.NewPassword, new { @class = "form-control" } )
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor( m => m.ConfirmPassword, new { @class = "control-label" } )
                        @Html.PasswordFor( m => m.ConfirmPassword, new { @class = "form-control" } )
                    </div>
                </div>
            </div>
        </div>
    </div>
}