@model BVS.DataModels.Patient
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <span class="control-label">
                @Html.LabelFor( m => m.EmailAddress )
            </span>
            <br />
            <span class="form-display">
                @Html.DisplayFor( m => m.EmailAddress )
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <span class="control-label">
                @Html.LabelFor( m => m.FirstName )
            </span>
            <br />
            <span class="form-display">
                @Html.DisplayFor( m => m.FirstName )
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <span class="control-label">
                @Html.LabelFor( m => m.LastName )
            </span>
            <br />
            <span class="form-display">
                @Html.DisplayFor( m => m.LastName )
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <span class="control-label">
                @Html.LabelFor( m => m.Notes )
            </span>
            <br />
            <span class="form-display">
                @Html.DisplayFor( m => m.Notes )
            </span>
        </div>
    </div>
</div>